<div class="container">
    <h1 class="pt-3 pb-3"><i class="fa-solid fa-spa"></i> Nuevo Deporte</h1>
    <div class="row">
        <form action="/agregarDeporte">
            <div class="col pb-3">
                <label for="nombre" class="pb-2">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre">
            </div>
            <div class="col pb-3">
                <label for="precio" class="pb-2">Precio</label>
                <input type="text" class="form-control" name="precio" id="precio">
            </div>
            <div class="col pt-3 pb-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-floppy-disk"></i> Guardar
                </button>
                <a href="/ver" class="btn btn-info">
                    <i class="fa-regular fa-rectangle-list"></i> Ver Listado
                </a>
            </div>
        </form>
    </div>
</div>