<div class="container text-center pt-5">
    <div class="row">
        <div class="col">
            <h1 class="pb-5">{{titulo}}</h1>
            <span class="fs-1">
                <i class="tamanoSuccess fa-regular {{icono}}"></i>
            </span>
            
            <h3 class="pt-3 pb-3">{{mensaje}}</h3>
            <a href="/ver" class="btn btn-success fs-3" onclick="fntVolver();">
                <i class="fa-solid fa-check"></i> Volver
            </a>
        </div>
    </div>
</div>