<header class="container-fluid">
    <h1 class="text-center pt-5 pb-5" >
        <i class="fa-solid fa-ranking-star"></i> Club Deportivo Discipline Spa
    </h1>
</header>
<section class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <a href="/ver" class="btn btn-primary pt-3 pb-3 mt-5 fs-2">
                <i class="fa-solid fa-network-wired"></i> Ingresar al Sitio
            </a>
        </div>
    </div>
</section>